@import 'variables';

.dl-checkboxes {
  margin-left: 20px;

  &__checkbox-container {
    font-family: $sans-serif;

    &:not(:first-child) {
      margin-top: 10px;
    }

    & input {
      margin-right: 5px;

      cursor: pointer;

      font-size: 16px;
    }

    & label {
      cursor: pointer;
      user-select: none;

      font-size: 14px;
    }
  }
}
