@import 'variables';

.dl-checkboxes {
  margin-left: 20px;
  display: flex;
  flex-direction: column;

  &__checkbox-container {
    font-family: $sans-serif;

    &:not(:first-child) {
      margin-top: 10px;
    }

    & input {
      margin-right: 5px;

      cursor: pointer;

      font-size: 16px;
    }

    & label {
      cursor: pointer;
      user-select: none;

      font-size: 14px;
    }

    &-logo {
      margin-top: auto;

      display: flex;
      flex-direction: column;

      font-family: $sans-serif;
      font-size: 14px;

      line-height: 1.6;

      & img {
        width: 55px;
        height: auto;
        margin-bottom: 10px;
      }

      & a {
        letter-spacing: 0.2px;
        color: black;
      }
    }
  }
}
