@import 'variables';

.dl-table {
  font-family: $sans-serif;
  font-size: 16px;

  &__header {
    display: flex;

    width: 530px;

    border-bottom: 1px rgba(0, 0, 0, 0.167) solid;

    font-weight: bold;
    line-height: 2em;

    &-stuck {
      position: fixed;
      z-index: 1;
      top: 0;

      background-color: #fff;
    }
  }

  &__rows-with-offset {
    padding-top: 33px;
  }

  &__row {
    display: flex;

    width: 530px;

    cursor: pointer;
    transition: background-color 0.1s ease-out;

    line-height: 2em;
  }

  &__row:hover {
    background-color: #fff7e0;
  }

  &__number {
    width: 40px;

    text-align: right;
  }

  &__name {
    overflow: hidden;

    width: 300px;
    margin-left: 20px;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__points {
    width: 50px;
    margin-left: 20px;

    text-align: right;
  }

  &__time {
    width: 80px;
    margin-left: 20px;
  }

  &__tabular {
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
  }
}
